@import '../../style/valuables.scss';

body::-webkit-scrollbar {
  display: none;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #77af9c;
  padding: 2rem;

  border-radius: 3px;
  box-shadow: $shadow;

  img {
    margin: 0;
  }

  .img-circle {
    width: $avataImg;
    height: $avataImg;
    border-radius: 100%;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .nick-name {
      color: white;
      background-color: purple;
      border-radius: 10px;
      padding: 0.3rem;
      margin: 0.3rem;

      font: {
        size: 20px;
        weight: 700;
      }
    }

    .presentation {
      color: white;
      min-width: 80%;
      text-align: center;

      border-top: 1px solid rgba(244, 244, 244, 0.8);
      border-bottom: 1px solid rgba(244, 244, 244, 0.8);

      padding: 0.75rem;
      margin: 1rem 0;

      font-size: 20px;
    }

    .sns-list {
      display: flex;
      align-items: center;

      .sns-item {
        width: 40px;
        margin: 0.3rem 0.5rem;
      }
    }
  }

  &.simple-card {
    flex-direction: row;
    justify-content: space-around;

    padding: 0.6rem;

    transition: all 1s ease;

    .img-circle {
      width: $avataImg;
      height: $avataImg;
      border-radius: 100%;
    }

    .card-content-container {
      align-items: flex-start;
      padding: 0 0.3rem;

      .nick-name {
        padding: 0.3rem;

        font: {
          size: 16px;
          weight: 500;
        }
      }

      .presentation {
        text-align: left;

        border: 0px;
        padding: 0rem;
        margin: 0.5rem;
        font-size: 0.8rem;
      }

      .sns-list {
        .sns-item {
          width: 30px;
          margin: 0.3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .card-item {
    min-width: 100%;
    min-height: 100%;
    padding: 0.3rem;

    .card-content-container {
      .nick-name {
        font-size: 20px;
      }

      .presentation {
        font-size: 16px;
      }

      .sns-list {
        .sns-item {
          width: 25px;
        }
      }
    }

    &.simple-card {
      height: 20%;

      transition: none;

      .card-img-container {
        display: none;
      }
    }
  }
}
