.sponsor-button {
  display: inline-block;

  width: 133px;
  height: 40px;

  text-align: center;
  background-color: #800080;
  color: #ffffff;

  border-radius: 20px;
  font-size: 12px;
  line-height: 40px;
  margin: 0.3rem;

  transition: background-color 0.3s ease;

  &:hover,
  &:active {
    background-color: #77af9c;
    color: #ffffff;
  }

  img {
    width: 25px;
    margin-bottom: 1px;
    vertical-align: middle;
  }

  span {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 640px) {
  .sponsor-button {
    margin: 0.3rem;
  }
}
