@import "../../style/valuables.scss";

.page-btn-container {
  display: flex;
  justify-content: space-between;

  .page-btn {
    padding: 0.3rem 1.2rem;
    background: white;
    box-shadow: $shadow;
    transition: background-color 0.3s ease;

    &:hover {
      color: white;
      font-weight: 700;
      background-color: #77af9c;
    }
  }
}

@media only screen and (max-width: 640px) {
  .page-btn-container {
    margin: 1rem 0;

    .page-btn {
      box-shadow: none;
    }
  }
}
