.tab-item {
  color: white;
  padding: 0.2rem;
  margin-right: 0.5rem;

  background-image: linear-gradient(to right, #8cd790, #285943);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 0.2em;

  transition: background-size 0.3s ease;

  &:hover {
    color: white;
    background-size: 100% 0.2em;
  }

  &.active {
    color: white;
    background-size: 100% 0.2em;
  }
}
