.tab-item {
  padding: 0.4rem;
  margin-right: 0.5rem;

  background-image: linear-gradient(120deg, #00ccff 4%, #6600cc 89%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 0.2em;

  transition: background-size 0.3s ease;

  &:hover {
    background-size: 100% 0.2em;
  }

  &.active {
    background-size: 100% 0.2em;
  }
}
