@import '../../style/valuables';

.post-container {
  background: white;
  box-shadow: $shadow;

  padding: 1rem 2rem;
  margin: 0rem auto;
  max-width: 700px;

  .post-header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.01rem solid #aaaaaa;

    .title {
      font-size: 40px;
      font-family: 'Lato', sans-serif;
      font-weight: 800;
      text-align: center;
      margin-bottom: 0rem;
    }

    .date {
      font-size: 0.8rem;
      text-align: right;
      margin-bottom: 0rem;
    }
  }

  .post-content {
    // font-family: "Poor Story", cursive;
    // font-family: "Lato", sans-serif;
    font: {
      family: 'Nanum Gothic', sans-serif;
      size: 0.9rem;
      weight: 400;
    }

    line-height: 160%;
    letter-spacing: normal;

    padding: 0.5rem;
  }

  .post-footer {
    border-top: 0.05rem solid #aaaaaa;

    .post-footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 1.5rem;
    }

    .post-footer-movebtn {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .post-container {
    padding: 0.7rem;
    box-shadow: none;

    .post-header {
      .title {
        font-size: 25px;
      }

      .date {
        font-size: 0.8rem;
      }

      .back-btn {
        margin-bottom: 2rem;
      }
    }

    .post-footer {
      .post-footer-content {
        flex-direction: column;
      }
    }
  }
}
