@import '../../style/valuables.scss';

body::-webkit-scrollbar {
  display: none;
}

.card-container {
  width: 500px;
  margin: calc((77vh - 320px) / 2) auto calc((77vh - 220px) / 2);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);

  &.simple-card {
    margin: 15px auto;
  }
}

@media only screen and (max-width: 640px) {
  .card-container {
    height: 100vh;
    width: 100%;
    margin: 0;

    transition: none;

    &.simple-card {
      height: 100%;
      margin: 0px auto;
    }

    &.hidden {
      display: none;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
  .card-container {
    font-size: 16px;

    &.simple-card {
      height: 100%;
      margin: 0px auto;
    }
  }
}
