@import "../../style/valuables.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  width: 100vw;
  height: $header-height;
  padding: 2.5rem 2rem;

  box-shadow: $shadow;

  font: {
    family: "Lato";
    size: 13px;
    weight: 500;
  }

  .header-title {
    font: {
      size: 40px;
      weight: 700;
    }
  }

  .tab-item {
    padding: 0.4rem;
    margin-right: 0.5rem;

    background-image: linear-gradient(120deg, #00ccff 4%, #6600cc 89%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 0 0.2em;

    transition: background-size 0.3s ease;

    &:hover {
      background-size: 100% 0.2em;
    }

    &.active {
      background-size: 100% 0.2em;
    }
  }
}

@media only screen and (max-width: 640px) {
  .header-container {
    flex-direction: column;
    border-bottom: 2px solid #aaaaaa;

    height: $header-height + 2rem;

    padding: 1rem;

    box-shadow: none;

    font: {
      size: 13px;
    }

    .header-title {
      font: {
        size: 25px;
      }
    }
  }
}
