@import "font.scss";
@import "valuables.scss";


.defaultClass{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    margin: 3.5px;

    font: {
        family: 'SCDream';
        size: 14px;
        weight: 500;
    } 
}

.buttonContainer{
    &:hover{
        font-weight: 700;
        border-bottom: 1px solid blue;
    }
}

.snsBtn{
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    color: black;

    padding: 0.5rem;

    font: {
        family: 'NanumSquareRound';
        size: 18px;
        weight: 700;
    } 

    

    &:hover{
        font-weight: 700;
        border-bottom: 1px solid #77AF9C;
        box-shadow: $shadowHover;
    }
}