@import "font.scss";
@import "valuables.scss";

body::-webkit-scrollbar {
  display: none;
}

.bContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
  min-height: 95vh;

  font: {
    family: "NanumSquareRound";
    size: 18px;
    weight: 800px;
    color: white;
  }

  & .bCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #77af9c;

    min-width: 600px;
    max-width: 700px;
    padding: 3rem 5rem;

    border: 1px solid rgba(244, 244, 244, 0);
    border-radius: 3px;
    box-shadow: $shadow;

    & .img {
      $imageSize: 150px;
      & img {
        margin: 0;
      }
      & .img-circle {
        width: $imageSize;
        height: $imageSize;
        border-radius: 100%;
      }
    }

    & .name {
      color: black;
      margin-bottom: 1.25rem;

      font: {
        family: "NanumSquareRound";
        size: 23px;
        weight: 800;
      }
    }

    & .title {
      min-width: 80%;
      text-align: center;
      border-top: 1px solid rgba(244, 244, 244, 0.8);
      border-bottom: 1px solid rgba(244, 244, 244, 0.8);

      margin-bottom: 1.25rem;
      padding: 0.75rem 0px;
    }

    & .sns {
      margin-bottom: 1.25rem;
    }

    & .menu {
      & .menuItem {
        display: inline-block;
        border: 1px solid rgba(244, 244, 244, 0.8);
        border-radius: 10px;

        margin: 5px;

        &:hover {
          box-shadow: $shadowHover;
        }

        a {
          padding: 0.5rem 0.75rem;
        }
      }
    }

    & a {
      color: white;
      border: 0px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .bContainer {
    height: 100vh;

    & .bCard {
      min-width: 100%;
      height: 100%;
      padding: 0.3rem;

      border: none;
      box-shadow: none;
    }
  }
}

/* 아이폰 5 & 5S 세로같은 작은화면을 위해 추가 */
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
  .bContainer {
    font: {
      size: 16px;
    }
  }
}
