@import "font.scss";
@import "valuables.scss";

.blog-posts {
  margin: 1rem auto;
  margin-top: 1rem;

  max-width: 700px;
}

.right {
  float: right;
}

.posts-bottom {
  display: flex;
  justify-content: space-between;
}

.category-body {
  margin-top: $header-height + 1rem;

  & .category-list {
    text-align: center;
    margin: 2rem 3rem 0rem;
    font-size: 15px;
  }
}

@media only screen and (max-width: 640px) {
  .blog-posts {
    margin: 0px;
  }

  .posts-bottom {
    font-size: 15px;
  }
}
