@import "font.scss";
@import "valuables.scss";

.blog-post {
  background: white;
  box-shadow: 0px 5px 10px 1px #aaaaaa;

  font-family: "NanumSquareRound";

  padding: 3rem 3rem;
  margin: 1rem auto;
  margin-top: $header-height + 2rem;
  max-width: 900px;

  // Markdown 테이블이 안나오는데에 따른 제거
  // & :last-child {
  //   border-bottom-width: 0;
  // }

  & .title {
    font: {
      family: "SCDream";
      size: 50px;
      weight: 800;
    }
    text-align: center;

    margin: 0 auto;
  }

  & .date {
    color: black;

    font: {
      size: 16px;
      weight: 500;
    }
    text-align: center;

    margin: 0 auto;
    margin-bottom: 0.3rem;
  }

  & .backBtn {
    font: {
      size: 16px;
      weight: 500;
    }

    text-align: center;
    margin-bottom: 3rem;
  }

  & .link {
    margin: 0 auto;
  }
}

.blog-post-comment {
  background: white;
  box-shadow: 0px 5px 10px 1px #aaaaaa;

  padding: 3rem 3rem;
  margin: 1rem auto;
  max-width: 900px;
}

@media only screen and (max-width: 640px) {
  .blog-post {
    margin-top: $header-height + 2rem;
    padding: 1rem;

    box-shadow: none;

    & :last-child {
      border-bottom-width: 0;
    }

    & .title {
      font: {
        size: 25px;
      }
    }

    & .date {
      font: {
        size: 16px;
      }
      margin-bottom: 0;
    }

    & .backBtn {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .blog-post-comment {
    padding: 1rem;

    box-shadow: none;
  }
}
