@import "../../style/valuables";

.aboutme-container {
  background: white;
  box-shadow: $shadow;

  padding: 0.2rem 1rem;
  margin: 0rem auto;

  max-width: 800px;

  .aboutme-content{
    font: {
      family: 'Nanum Gothic', sans-serif;
      size: 0.9rem;
      weight: 400;
    }

    line-height: 160%;
    letter-spacing: normal;

    padding: 0.5rem;
  }

  .aboutme-footer {
    border-top: 0.05rem solid #aaaaaa;

    .aboutme-footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      padding: 0.2rem;
    }
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-footer {
    .aboutme-footer-content {
      flex-direction: column;

      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  .aboutme-container {
    margin: 0rem;
    box-shadow: none;
  }
}
