@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamEB.woff2'); 
    src:url('../../assets/front/SCDreamEB.woff2') format('woff2');
    font-weight: 800;
}

@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamB.woff2'); 
    src:url('../../assets/front/SCDreamB.woff2') format('woff2');
    font-weight: 700;
}

@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamR.woff2'); 
    src:url('../../assets/front/SCDreamR.woff2') format('woff2');
    font-weight: 400;
}

@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamL.woff2'); 
    src:url('../../assets/front/SCDreamL.woff2') format('woff2');
    font-weight: 200;
}

@font-face{ 
    font-family:'NanumSquareRound'; 
    src:url('../../assets/front/NanumSquareRoundEB.woff2'); 
    src:url('../../assets/front/NanumSquareRoundEB.woff2') format('woff2');
    font-weight: 800;
}

@font-face{ 
    font-family:'NanumSquareRound'; 
    src:url('../../assets/front/NanumSquareRoundB.woff2'); 
    src:url('../../assets/front/NanumSquareRoundB.woff2') format('woff2');
    font-weight: 700;
}

@font-face{ 
    font-family:'NanumSquareRound'; 
    src:url('../../assets/front/NanumSquareRoundR.woff2'); 
    src:url('../../assets/front/NanumSquareRoundR.woff2') format('woff2');
    font-weight: 400;
}

@font-face{ 
    font-family:'NanumSquareRound'; 
    src:url('../../assets/front/NanumSquareRoundL.woff2'); 
    src:url('../../assets/front/NanumSquareRoundL.woff2') format('woff2');
    font-weight: 200;
}

/* 코딩폰트 추가 */
@font-face{ 
    font-family:'D2Coding'; 
    src:url('../../assets/front/D2Coding.woff2'); 
    src:url('../../assets/front/D2Coding.woff2') format('woff2');
    font-weight: 700;
}



