@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamEB.woff2'); 
    src:url('../../assets/front/SCDreamEB.woff2') format('woff2');
    font-weight: 800;
}

@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamB.woff2'); 
    src:url('../../assets/front/SCDreamB.woff2') format('woff2');
    font-weight: 700;
}

@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamR.woff2'); 
    src:url('../../assets/front/SCDreamR.woff2') format('woff2');
    font-weight: 400;
}

@font-face{ 
    font-family:'SCDream'; 
    src:url('../../assets/front/SCDreamL.woff2'); 
    src:url('../../assets/front/SCDreamL.woff2') format('woff2');
    font-weight: 200;
}



