@font-face {
  font-family: "SCDream";
  src: url("../../assets/font/SCDreamEB.woff2");
  src: url("../../assets/font/SCDreamEB.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "SCDream";
  src: url("../../assets/font/SCDreamB.woff2");
  src: url("../../assets/font/SCDreamB.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SCDream";
  src: url("../../assets/font/SCDreamR.woff2");
  src: url("../../assets/font/SCDreamR.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SCDream";
  src: url("../../assets/font/SCDreamL.woff2");
  src: url("../../assets/font/SCDreamL.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../../assets/font/NanumSquareRoundEB.woff2");
  src: url("../../assets/font/NanumSquareRoundEB.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../../assets/font/NanumSquareRoundB.woff2");
  src: url("../../assets/font/NanumSquareRoundB.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../../assets/font/NanumSquareRoundR.woff2");
  src: url("../../assets/font/NanumSquareRoundR.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("../../assets/font/NanumSquareRoundL.woff2");
  src: url("../../assets/font/NanumSquareRoundL.woff2") format("woff2");
  font-weight: 200;
}

/* 코딩폰트 추가 */
@font-face {
  font-family: "D2Coding";
  src: url("../../assets/font/D2Coding.woff2");
  src: url("../../assets/font/D2Coding.woff2") format("woff2");
  font-weight: 700;
}
