@import "font.scss";
@import "valuables.scss";

.blog-post {
  float: left;
  background: white;

  margin: 1rem auto;
  margin-top: $header-height  + 2rem;

  & .title{
    text-align: center;
    margin: 0;
    padding: 0;
  }

  & .date{
    text-align: center;
    margin: 0;
    padding: 0;

    color: #555;
    margin-bottom: 1rem;
  }

  & .link.prev{
    float: right;
  }

  & .navigation{
    min-height: 60px;
  }
}