@import "font.scss";
@import "valuables.scss";

.HeaderContainer{
    display: flex;
    justify-content : space-between;
    box-shadow: 0px 5px 20px 2px #aaaaaa;
    //border-bottom: 1px dashed rgba(0,0,0,0.3);

    font: {
        family: 'SCDream';
        size: 12px;
        weight: 500;
    }

    padding: 1rem;
    
    width: 100%;
    height: $header-height;
    background-color: white;

    .HeaderTitle{
        font: {
            family: 'SCDream';
            size: 40px;
            weight: 800;
        }
    }

    .HeaderNav{
    }
}


