.link {
  display: inline-block;
  padding: 0.75rem 1rem;
  border: 2px solid black;
  text-decoration: none;
  position: relative;
}

.moveLink {
  padding: 0.3rem 1.2rem;
  margin: 0.5rem 0.4rem;

  border: 1px solid black;
  background: white;
}

.HeaderTitle {
  color: black;
}
